
@model OmniMerit.Models.CustomModel.ForgetPassword

<div>
    <header id="fh5co-header" role="banner" style="position:fixed">

        <div class="header-inner">
            <a href="/../">
                <img src="~/Scripts/images/imageedit_1_3947092529.png" class="logo" style="float:left; margin-right:1%; height:80px" />
            </a>
            <h1><a href="/../">OmniMerit<span></span></a></h1>
            <p style="float:left; margin-top: 50px;color: greenyellow;margin-left: -156px;">Integrating Noble values </p>




            <nav role="navigation">
                <ul>

                    <li><a href="#" class="home active">Home</a></li>


                    <li><a href="" class="scrollBottom">Contact Us </a></li>

                    <li><a href="/Default/Career">Career</a></li>.
                    <li><a data-toggle="modal" data-target="#myModal"> Login</a></li>

                </ul>
            </nav>
        </div>

    </header>
    <div class="fh5co-section-with-image">

        <img src="../../Scripts/images/slide_1.jpg" alt="" class="img-responsive">
        <div class="fh5co-box">
            <div>
                @if (ViewBag.Success != null)
                {
                    <div style="color:green">
                        @ViewBag.Success
                    </div>
                }
                @if (ViewBag.Error != null)
                {
                    <div style="color:red">
                        @ViewBag.Error
                    </div>
                }
                <h3>Forget Password</h3>
                @using (Html.BeginForm(Html.BeginForm("ForgetPassword", "ForgetPassword", FormMethod.Post,
    new { enctype = "multipart/form-data" })))
                {

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                   
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control input-md", @placeholder = "Email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                   

                   

                    <br />

                    <button id="singlebutton" type="submit" name="singlebutton" class="btn btn-primary pull-right">Reset</button>
                    <div id="status"></div>


                }
            </div>
        </div>

    </div>
    <footer id="fh5co-footer" role="contentinfo">

        <div class="container">
            <div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                <h3>Contact us </h3>
                <h4><i class="icon-envelope"></i> &nbsp; support@omnimerit.com</h4>
                <h4><i class="icon-phone"></i>​&nbsp;+91 98102 72159</h4>


            </div>



            <div class="col-md-12 fh5co-copyright text-center">
                <p>&copy; 2017  All Rights Reserved. </p>
            </div>

        </div>
    </footer>

    <div class="scroll-top-wrapper ">
        <span class="scroll-top-inner">
            <i class="icon-arrow-up"></i>
        </span>
    </div>
</div>